{% extends 'base.html' %}

{% block content %}
<div style='color: black;'>
<h3 style='text-align: center;' > ABOUT EXAMGUIDE </h3>

<p> HoneyLand schools is the premier British Anglophonian school to be established in lagos in 1988 and since then, have remained a champion in the education sector. We are so good in whatt we do that thyebaccolades and awards under our belt are a testimony to what we do.

    <p> Spanning across different academicc levels and fields, we offer education from
         the kindagarten Level up to the university level;. By so doinmg, we ensure
          your wards get the best in terms of education from us and from our experiences,
           no graduate from our schools have ever dreamed to go back to another schools. 
           You can click here to see the detailed analysis of our students satisfication and retentation rate.
    
        <p> To know more about the schools, click the button below.
        </div>

{% endblock %}
            