{% extends 'base.html' %}

{% block content %}


<h3 style='text-align: center;'> CHOOSE THE EXAM YOU WANT </h3>
<div style='box-shadow: 2px 9px 8px black; border-radius: 1em; border: 2px solid black; background: white; '>
<ul style='padding-right: 1em; font-size: 120%; display: grid; grid-gap: 0.3em; grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));list-style-type: none;' >
<li style='box-shadow: 2px 9px 8px black;text-align: center; background: lightgreen; padding: 1em; border: 2px solid white;'><a href="{% url 'subjectgce' %}">GCSE Exams</a></li>
<li style='box-shadow: 2px 9px 8px black; text-align: center; background: lightgreen; padding: 1em; border: 2px solid white;'><a href="{% url 'subjectssce' %}">SSCE exams</a></li>
<li style='box-shadow: 2px 9px 8px black; text-align: center; background: lightgreen; padding: 1em; border: 2px solid white;'><a href="{% url 'subjectneco' %}">NECO Exams</a></li>
<li style='box-shadow: 2px 9px 8px black; text-align: center; background: lightgreen; padding: 1em; border: 2px solid white;'><a href="{% url 'subjectjamb' %}">JAMB  Exams</a></li>

</ul>
</div>
<br>

{% endblock %}